*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li{list-style: none;}

a{
  text-decoration: none;
  color: #000;
}
@font-face {
	font-family: Orbitron;
	src: url(../webfonts/Orbitron-Regular.eot);
	src: url(../webfonts/Orbitron-Regular.woff) format("woff");
}
body {font-family: Orbitron, sans-serif;}

.wrapper{
  width: 100%;
  height: 100vh;
  background-image: url(./images/bg_afternoon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 800ms ease-in-out;
  position: relative;
  overflow: hidden;
}

label{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

.logo img{
  width: 60px;
  height: 100%;
  margin: 40px 0 0 20px;
}

.menu{
  width: 450px;
  display: flex;
  position: absolute;
  top: 40%;
  right: 150px;
  justify-content: space-between;
}
.menu a{margin-right: 5px;}

.menu a:hover{border-bottom: 1px solid blue;}

.section-wrapper{
  width: 100%;
  height: 90vh;
  position: relative;
}

.middle-text{
  position: absolute;
  top: 25%;
  left: 10%;
  font-size: 30px;
}

.middle-text span{
  color: #aaa;
  margin-left: 10px;
}

.middle-text p{
  font-size: 12px;
}

.middle-img{
  width: 880px;
  height: 600px;
  background-image: url(./images/phone_afternoon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  transition: all 800ms ease-in-out;
}

.fo-wrapper{
  display: flex;
  position: absolute;
  left: 70%;
  transform: translateX(-70%);
  width: 80%;
}

.btn1,
.btn2,
.btn3,
.btn4{
  width: 300px;
  height: 30px;
  margin-right: 5px;
  opacity: .7;
  background-color: #aaa;
  border: none;
  border-radius: 5px;
}


.btn.is-active{
  background: linear-gradient( to right, black, gray, white );
  color: #FFF;
  transition: all 800ms ease-in-out;
}

.btn{background-color: #aaa;}

.clock{
  position: absolute;
  top: 28%;
  left: 25%;
  transform: translate(-28%,-25%);
  font-size: 50px;
}

.wrapper img:nth-child(2){
  animation: 50s linear infinite;
  animation-direction: normal;
  animation-name: displace, fadeout;
  position:absolute;
  top:-80px;
  left: 0;
}

@keyframes displace {
  0% { left: -100vw;} 
  100%   { left:100vw}
}

@keyframes fadeout {
  0% {opacity: .8;}
  100%   {opacity: .8;}
}
